body, html {
    height: 100%;
  }
body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: #295986;
    color: white;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size-adjust: initial;
    text-transform: uppercase;
    border-bottom: 5px solid white;
    animation-name: translateHeader;
    animation-duration: 1.5s ;
}
.navbar.navbar-expand-md.navbar-light.bg-light{
    background-color: #295986 !important;
    padding: 0px 15px 0px 15px;
}
.navbar.navbar-expand-md.navbar-light.bg-light > a{
    color: white !important;
}
.nav-item.nav-link{
    color: #a0c0df !important;
    height: 50px;
    display: flex;
    align-items: center;
}
.nav-item.nav-link.active{
    color: white !important;
    text-decoration: underline;
}
.footerFixed{
    display: flex;
    flex: 1; 
    align-items: flex-end;
    animation-name: translateFooter;
    animation-duration: 1s;
}
.footerContainer{
    display:flex; 
    flex-direction: row; 
    justify-content: space-between;
    flex:1;
    padding: 20px; 
    background-color: #295986;
    animation-name: opacityFooterText;
    animation-duration: 2.5s;
}
.footerContainer > p , .footerContainer > address{
    color:white; 
    display: flex; 
    flex-direction: column;
}
.footerContainer > p > a{
    color: white !important;
    align-self: flex-end;
}
.footerContainer > p > a:hover{
    text-decoration-line: none;
    color: #828a92 !important;
}
.styledButton{
    border:1px solid rgba(255, 255, 255, 0.657); 
    padding:.375rem .75rem;
    border-radius: .30rem; 
    background-color: #295986; 
    color: white;
}
.styledButton:hover{
    background-color: #1d466d;
    cursor: pointer;
}
.buttonContainer{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 560px){
    .footerContainer{
        display:flex; 
        flex-direction: column;
        align-items: center; 
    }
    .footerContainer > p > a{
        align-self: center;
    }
    .footerContainer > address > p{
        align-self: center;
    } 
}
@keyframes translateHeader {
    from {height: 0px;}
    to {height: 90px;}
  }
@keyframes translateFooter {
    from {width: 0px;}
    to {width: 100%;}
  }
@keyframes opacityFooterText {
    from {opacity: 0;}
    to {opacity: 1;}
  }