body{
    background: linear-gradient(rgba(255,255,255,.8), rgba(255, 255, 255, 0.603)),url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.col-md-4{
    display: flex; 
    justify-content: center;  
    margin-top: 50px;
}
.card{
    max-width: 23rem;
}
.card > img{
    height: 15rem;
}
.card-body{
    background-color: #ececec;
}